name="{{ buildkite_agent_name }}"
tags="queue={{ buildkite_queue }}"
token="{{ lookup('hashi_vault', 'secret=secret/kibana-issues/dev/hetzner-buildkite:agent_token') }}"
build-path="/var/lib/buildkite-agent/builds"
hooks-path="/etc/buildkite-agent/hooks"
plugins-path="/etc/buildkite-agent/plugins"
experiment="git-mirrors,output-redactor,ansi-timestamps,normalised-upload-paths,resolve-commit-after-checkout"
git-mirrors-path="/var/lib/gitmirrors"
git-clone-mirror-flags="-v --bare"
git-fetch-flags="-v"
timestamp-lines=true
